# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов с номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [415]:
import numpy as np
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [465]:
recipes = pd.read_csv("./data/data/recipes_sample.csv")
reviews = pd.read_csv("./data/data/reviews_sample.csv", parse_dates=["date"])
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [417]:
f"recipes: {recipes.shape} ", recipes.dtypes, f"reviews: {reviews.shape}", reviews.dtypes

('recipes: (30000, 8) ',
 name               object
 id                  int64
 minutes             int64
 contributor_id      int64
 submitted          object
 n_steps           float64
 description        object
 n_ingredients     float64
 dtype: object,
 'reviews: (126696, 6)',
 Unnamed: 0             int64
 user_id                int64
 recipe_id              int64
 date          datetime64[ns]
 rating                 int64
 review                object
 dtype: object)

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [418]:
recipes.isna().sum(), reviews.isna().sum()

(name                  0
 id                    0
 minutes               0
 contributor_id        0
 submitted             0
 n_steps           11190
 description         623
 n_ingredients      8880
 dtype: int64,
 Unnamed: 0     0
 user_id        0
 recipe_id      0
 date           0
 rating         0
 review        17
 dtype: int64)

In [419]:
# (recipes.isna().sum().sum() + reviews.isna().sum().sum()) / (len(recipes.index) + len(reviews.index))

recipes_NA = recipes.isna().sum(axis=1)
reviews_NA = reviews.isna().sum(axis=1)
f"recipes: {round(recipes_NA[recipes_NA != 0].count() * 100 / len(recipes.index), 2)}%", \
f"reviews: {round(reviews_NA[reviews_NA != 0].count() * 100 / len(reviews.index), 7)}%"

('recipes: 56.85%', 'reviews: 0.0134179%')

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [420]:
# reviews.mean(), recipes.mean()
for i in ("minutes", "n_steps", "n_ingredients"):
    print(i, recipes[i].mean())


print("Ср рейтинг:", reviews["rating"].mean())

minutes 123.35813333333333
n_steps 9.805582137161085
n_ingredients 9.008285984848484
Ср рейтинг: 4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [421]:
pd.Series(np.random.choice(recipes.loc[:, "name"], 10))

0              new york bialy  first cousin to a bagel
1                            sticky chicken drumsticks
2                        afghan   style chicken  murgh
3                                    tortellini caesar
4                                          sweet salad
5                                         tvp crumbles
6                             nutty cheesecake cookies
7                      shrimp and vegetable fried rice
8    ww 6 point assorted vegetable meatloaf  with meat
9               fried peanut butter and jelly sandwich
dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [422]:
reviews = reviews.set_index('Unnamed: 0').sort_index()

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [423]:
recipes[(recipes["minutes"] < 20) & (recipes["n_ingredients"] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
112,10 minute lime pie,513963,10,2284242,2014-03-04,12.0,a super easy stand-in for traditional key lime...,5.0
117,100 year old pie crust,126072,15,205983,2005-06-15,NaN,very nice light crust,5.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [424]:
recipes["submitted"] = pd.DatetimeIndex(pd.to_datetime(recipes["submitted"]))
type(recipes["submitted"][0])

pandas._libs.tslibs.timestamps.Timestamp

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [425]:
recipes[recipes["submitted"] < pd.to_datetime("2010-01-01")]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1 Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [426]:
recipes["description_length"] = recipes["description"].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [427]:
recipes["name"].str.title()

0               George S At The Cove  Black Bean Soup
1                  Healthy For Them  Yogurt Popsicles
2                        I Can T Believe It S Spinach
3                                Italian  Gut Busters
4            Love Is In The Air  Beef Fondue   Sauces
                             ...
29995    Zurie S Holey Rustic Olive And Cheddar Bread
29996            Zwetschgenkuchen  Bavarian Plum Cake
29997     Zwiebelkuchen   Southwest German Onion Cake
29998                                     Zydeco Soup
29999          Cookies By Design   Cookies On A Stick
Name: name, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

In [428]:
recipes["name_word_count"] = recipes["name"].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [429]:
recipes.groupby("contributor_id")["id"].count().sort_values()#.iloc[-1]

contributor_id
302190      1
449247      1
449229      1
449014      1
448748      1
         ...
169430    183
1533      186
37779     345
37449     346
89831     421
Name: id, Length: 8404, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

In [430]:
reviews.groupby("recipe_id")["rating"].mean(), reviews.groupby("recipe_id")["rating"].mean().eq(0).sum()

(recipe_id
 48        1.000000
 55        4.750000
 66        4.944444
 91        4.750000
 94        5.000000
             ...
 536547    5.000000
 536610    0.000000
 536728    4.000000
 536729    4.750000
 536747    0.000000
 Name: rating, Length: 28100, dtype: float64,
 660)

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [431]:
recipes.groupby(pd.Grouper(key="submitted", freq="Y"))["id"].count()
# recipes.groupby(recipes["submitted"].dt.year)["name"].count()

submitted
1999-12-31     275
2000-12-31     104
2001-12-31     589
2002-12-31    2644
2003-12-31    2334
2004-12-31    2153
2005-12-31    3130
2006-12-31    3473
2007-12-31    4429
2008-12-31    4029
2009-12-31    2963
2010-12-31    1538
2011-12-31     922
2012-12-31     659
2013-12-31     490
2014-12-31     139
2015-12-31      42
2016-12-31      24
2017-12-31      39
2018-12-31      24
Freq: A-DEC, Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [482]:
recipe_review = pd.merge(recipes, reviews, left_on="id", right_on="recipe_id")
recipe_review = recipe_review.dropna(how="any")
recipe_review.drop(recipe_review.columns.difference(["id", "name", "user_id", "rating"]), 1, inplace=True)
recipe_review = recipe_review[["id", "name", "user_id", "rating"]]
# recipe_review = recipe_review.drop(recipe_review[recipe_review["rating"] == 0].index)
# recipe_review[recipe_review["rating"] == 0]
recipe_review

C:\Users\damir\AppData\Local\Temp/ipykernel_14768/3222096098.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  recipe_review.drop(recipe_review.columns.difference(["id", "name", "user_id", "rating"]), 1, inplace=True)

            id                                          name  user_id  rating
28      107229                          open sesame  noodles   133842       5
65      453467            1 in canada chocolate chip cookies   424680       5
85      200148                  better than tofu  cheesecake   929450       0
86      200148                  better than tofu  cheesecake   527823       3
87      310570             burek  or feta cheese  phyllo pie  2710499       5
...        ...                                           ...      ...     ...
126677  267661  zurie s holey rustic olive and cheddar bread    93006       5
126678  267661  zurie s holey rustic olive and cheddar bread   232886       5
126679  267661  zurie s holey rustic olive and cheddar bread    55729       0
126680  267661  zurie s holey rustic olive and cheddar bread   538190       5
126695  298512        cookies by design   cookies on a stick   804234       1

[53292 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [460]:
recipe_name_review = pd.merge(recipes, reviews, left_on="id", right_on="recipe_id")

review_count = recipe_name_review.groupby("recipe_id")["rating"].count()
review_count.columns = ["recipe_id", "review_count"]

review_count = pd.merge(recipes, review_count, how="inner", left_on="id", right_on="recipe_id")
review_count.drop(review_count.columns.difference(["id", "name", "rating"]), 1, inplace=True)

review_count.columns = ["name", "recipe_id", "review_count"]
(review_count["review_count"] == 0).sum()

C:\Users\damir\AppData\Local\Temp/ipykernel_14768/638306241.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  review_count.drop(review_count.columns.difference(["id", "name", "rating"]), 1, inplace=True)

0

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [437]:
reviews_and_score = reviews.groupby(reviews['date'].dt.year)['rating'].mean()
reviews_and_score.idxmin(), reviews_and_score.min()

(2017, 3.3530416951469584)

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [435]:
recipes = recipes.sort_values("name_word_count")
recipes.to_csv("recipes_out.csv", sep=";", encoding="UTF-8")

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [436]:
# TODO